.plants {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.plant {
    margin: 15px;
    padding: 20px;
    position: relative;
}

.plant__cancel {
    position: absolute;
    right: 10px;
    top: 10px;
}